.contact-list {
	letter-spacing: 1.6px;
	width: 181px;
	margin: 0 auto;
	margin-top: 45px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-transform: uppercase;
	& li {
		margin-bottom: 10px;
		position: relative;
		&:nth-child(1) {
			padding-left: 20px;
			&::before {
				content:'';
				position: absolute;
				left: 0;
				top: 1px;
				width: 11px;
				height: 16px;
				background: url(../images/footer/mobile.svg);
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
		&:nth-child(2) {
			padding-left: 23px;
			&::before {
				content:'';
				position: absolute;
				left: 0;
				top: 3px;
				width: 15px;
				height: 11px;
				background: url(../images/footer/email.svg);
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}