.features {
	margin-top: 62px;
	&__item {
		width: 313px;
		min-height: 301px;
		padding: 40px 8px 4px 25px;
		margin: 0 auto;
		margin-bottom: 47px;
		border-radius: 24px;
		background: #fff;
		box-shadow: $boxShadow;
		&:nth-child(2) {
			background: $fiolet;
			& .features__title,
			& .features__text {
				color: #fff;
			}
			& .features__title {
				&::after {
					content:'2';
					left: -7px;
				}
			}
		}
		&:nth-child(3) {
			background: $orange;
			& .features__title {
				&::after {
					content:'3';
					left: -6px;
					color: $fiolet;
				}
			}
			& .features__text {
				color: #fff;
			}
		}
		&:nth-child(4) {
			& .features__title {
				&::after {
					content:'4';
					left: -10px;
				}
			}
		}
	}
	&__title {
		font-family: 'ProximaNova-Bold';
		color: $blue;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		padding-left: 64px;
		position: relative;
		&::before {
			content:'';
			position: absolute;
			left: 0;
			top: 0;
			width: 49px;
			height: 49px;
			border-radius: 50%;
			background: #F5E3D6;
		}
		&::after {
			content:'1';
			color: $orange;
			position: absolute;
			left: 5px;
			top: -33px;
			font-size: 72px;
			line-height: 120%;
			font-family: 'Montserrat-Medium';
		}
	}
	&__text {
		padding-top: 39px;
		color: #AFAFBD;
	}
}

@media screen and(min-width: 768px) {
	.features {
		margin-top: 75px;
		&__list {
			width: 655px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__item {
			padding: 28px 5px 4px 25px;
			margin: 0;
			margin-bottom: 28px;
		}
		&__text {
			padding-top: 28px;
			letter-spacing: 1px;
		}
	}
}

@media screen and(min-width: 1440px) {
	.features {
		&__list {
			width: 1344px;
		}
	}
}