.price {
	margin-top: 75px;
	&__title {
		margin: 0;
		font-family: 'ProximaNova-Bold';
		color: $fiolet;
		text-transform: uppercase;
		text-align: center;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 1px;
	}
	&__list {
		margin-top: 40px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 312px;
		padding: 23px 30px 38px;
		margin: 0 auto;
		margin-bottom: 50px;
		background: $fiolet;
		font-family: 'ProximaNova-Bold';
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		letter-spacing: 1.6px;
		box-shadow: 1px 10px 10px rgba(51, 62, 102, 0.02), 
					10px 20px 20px rgba(51, 68, 102, 0.04), 
					20px 30px 30px rgba(51, 68, 102, 0.06), 
					55px 65px 44px rgba(78, 125, 197, 0.13);
		border-radius: 24px;
		&:nth-child(2) {
			background: $orange;
			& .price__time {
				background: #fff;
				color: $orange;
			}
			& .price__entry {
				background: $fiolet;
			}
		}
	}
	&__time {
		width: 100px;
		height: 100px;
		padding-top: 35px;
		border-radius: 50%;
		background: #5856D7;
		& span {
			font-size: 48px;
		}
	}
	&__type {
		margin-top: 8px;
	}
	&__cost {
		font-size: 42px;
		line-height: 52px;
	}
	&__entry {
		width: 197px;
		padding: 13px 30px;
		margin: 0 auto;
		margin-top: 10px;
		border-radius: 100px;
		background: $orange;
	}
}

@media screen and(min-width: 768px) {
	.price {
		margin-top: 43px;
		&__list {
			width: 656px;
			margin: 0 auto;
			margin-top: 40px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__item {
			margin: 0;
			margin-bottom: 32px;
		}
		&__title {
			font-size: 32px;
			line-height: 40px;
		}
	}
}

@media screen and(min-width: 1440px) {
	.price {
		&__title {
			font-size: 36px;
			line-height: 44px;
		}
	}
}