.soc-list {
	display: flex;
	flex-wrap: wrap;
	& a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}
	&__item {
		margin-right: 7px;
		&:nth-child(1) a {
			background: #7294C7;
		}
		&:nth-child(2) a {
			background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
		}
		&:nth-child(3) a {
			background: #00A9E7;
		}
	}
}

@media screen and(min-width: 768px) {
	.soc-list {
		&__item {
			margin-right: 14px;
		}
	}
}